.item{
    border: 1px solid blue;
    height: 100px;
    width: 100px;
    transition: all 0.2s;
    margin: 10px;
    border-radius: 20%;
}

h1 {
    margin-left: 65px;
}
#botao {
    padding: 20px;
    margin: 20px;
    margin-left: 98px;
    background-color: #EEF;
    border-radius: 10px;
    font-weight: bold;
}
#botao:hover{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#tabuleiro{
    width: 370px;
    display: inline-flex;
    flex-wrap: wrap;
}
.item:hover{
    background-color: #EEF;
    transform: rotate(360deg) scale(1.05);
}

.icones {
    height: 100%;
    width: 100%;
}