@keyframes fade-in {
  from {opacity: 0}
  to {opacity: 1}
}
body {
  background-image: url('https://i.pinimg.com/564x/5c/ef/36/5cef36801fdac1d0def7df5afdc220c6.jpg');
  background-repeat: repeat-x;
  background-size: auto;
  background-attachment: fixed;
}
.item{
  border: 1px solid white;
  height: 100px;
  width: 100px;
  border-radius: 10%;
  overflow: hidden;
}

.color_white {
  color: white;
}
h1 {
  margin-left: 65px;
}
.tabuleiro{
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(5, 100px);
  grid-gap: 8px;
  align-items: center;
}
.item:hover{
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}

.img {
  height: 100%;
  width: 100%;
  opacity: 0;
  animation: fade-in 0.5s normal forwards ease-in-out;
}


.historicoDeJogos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-template-rows: repeat(auto-fit, 190px);
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
}

.blocos {
  display: grid;
  grid-template-columns: 350px minmax(300px, 1fr);
  grid-template-areas: 
  "header sidebar1"
  "sidebar2 footer";
}
.tabuleiro_ {
  grid-area: header;
  margin: 30px;
}
.historico {
  grid-area: sidebar1;
  margin: 30px;
}
@media (max-width: 750px) {
  .historico {
    grid-area: sidebar2;
  }
}
.section {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
}

.littleIcons {
  transition: 0.5s;
}
.littleIcons:hover {
  transform: scale(1.1);
  transition: 0.5s;
  z-index: 1;
}
.botoes_e_vencedor {
  display: grid;
  grid-template-columns: 105px 105px 105px;
}
.newGame {
  background-color: #13509e;
  font-weight: bold;
  color: white;
  border-radius: 40%;
  height: 80px;
  width: 90px;
}
.vencedor_ {
  text-align: center;
}
.mini_item {
  border: 1px solid #13509e;
  height: 30px;
  width: 30px;
}
.mini_tabuleiro {
  display: grid;
  grid-template-columns: repeat(4, 32px);
  margin: 20px 20px;
  height: 140px;
  align-self: flex-start;
}
.mini_vencedor {
  grid-column: 1/5;
  grid-row: 1;
  font-size: 20px;
  width: 103px;
  height: 11px;
  margin: 1px;
  margin-bottom: 35px;
}
.lixeira {
  height: 30px;
  grid-column: 4;
  grid-row: 2/4;
  align-self: center;
}