.item{
  border: 1px solid blue;
  height: 97px;
  width: 97px;
  margin: 2px;
  border-radius: 10%;
}

h1 {
  margin-left: 65px;
}
#botao {
  padding: 20px;
  margin: 20px;
  margin-left: 98px;
  background-color: #EEF;
  border-radius: 10px;
  font-weight: bold;
}
#botao:hover{
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.tabuleiro{
  width: 310px;
  display: inline-flex;
  flex-wrap: wrap;
}
.item:hover{
  transform: scale(1.05);
}

.img {
  height: 100%;
  width: 100%;
}

.win {
  display: flex;
  width: 280px;
  height: 100px;
  margin: 15px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  border-radius: 10%;
  border: solid 1px blue;
}

.newGame {
  margin: 50px 115px;
}